#workspaces {
	margin-left: 16px;
}

#window {
	padding: 8px;
}

#backlight,
#wireplumber,
#battery {
	border-radius: 8px;
	margin: 0 2px;
}

#tray {
	border-radius: 8px;
}

#cpu,
#memory,
#clock,
#custom-notification,
#backlight,
#wireplumber,
#battery,
#tray {
	padding: 0 10px;
	margin: 0 5px;
	min-height: 30px;
	border-radius: 8px;
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#custom-notification {
	margin-right: 16px;
}

#tray {
	margin-right: 16px;
	padding: 2px;
}

